body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 50px;
}

.half-width{
    width:30%;
    float: left;
    margin-left: 12%;
    padding-left: 2%;
}

.full-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.width{
    width:85%;
    text-align: center;
    margin-left: 5%;
    padding-left: 2%;
    
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav li {
    float: left;
    padding-left: 0.8vw;
    
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 8vw;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }



.top-banner{
    text-align: center;
}


h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 100%;
}
.gap{
    padding-bottom: 90px;
    font-size: 30px;
}

.portfolio{
    padding-bottom: 2vw;
    padding-left: 16vw;
    padding-top: 2vw;
    
}
.bt{
    text-align: center;
    padding-bottom: 50px;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
   
}
h2{
    font-size: 40px;
}

.center{
    text-align: center;
    padding-bottom: 25px;
    
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-color: antiquewhite;
}
.experience-area h3{
    color: orange;
}

.experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
#full-stack{
    border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue 100%, cyan 100%);
    border-image-slice: 1;
}

.contact{
    padding-top: 50px;
    text-align: center;
    background-color: antiquewhite;
    padding-bottom: 270px;
}

.cnt{
    
    padding-left: 70px;
    padding-right: 90px;
   
}

.icon{
    padding-top: 100px;
    width: 40px;
    height: 40px;
}

.section-title{
    font-size: 40px;
    width:100%;
    
}


footer p{
    text-align: center;
}

.heading{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color:cadetblue;
}

.education{
    margin: 10px 300px;
}

.education .school{
    height: 200px;
    width: 30%;
    margin: 10px 10px;
    float: left;
    text-align: center;
    background-color: azure;
   
}



.education .clg{
    height: 200px;
    width: 30%;
    margin: 10px 10px;
    float: left;
    text-align: center;
    background-color: azure;

}

.education .varsity{
    height: 200px;
    width: 30%;
    margin: 10px 10px;
    float: left;
    text-align: center;
    background-color: azure;

}

.imgresponsive{
    height: 350px;
    width: 100% ;
}

.g-1{
    margin-bottom: 28vw;
}

.g-2{
    margin-bottom: 28vw;
}

